.btn_css {
  border: 3px solid var(--primary-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.img_border {
  background-color: var(--secondary-color);
  overflow: hidden;
  padding: 1rem;
  border-radius: 0;
  width: 100%;
}

.input_css {
  border: 3px solid var(--primary-color);
  border-radius: 0;
}

.carouselIndicator {
  width: 4px;
  height: 4px;
  transition: width 250ms ease;

  &[data-active] {
    width: 16px;
  }
}
